.container-wrapper {
    /* width: calc(100vw - 240px); */
    min-height: 100vh;
    padding: 0px 120px;
    /* background: #005a6a ; */
    background: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    p{
        margin: 0;
    }

    .header {
        /* height: 80px; */
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .citySearch {
            width: 45%;
            min-width: 280px;
            height: 40px;
            border-radius: 20px;
            border: none;
            padding: 0 20px;
            outline: none;
            font-size: 16px;
            z-index: 2;
            overflow: hidden;
        }

        .city-dropdown {
            position: absolute;
            top: 40px;
            /* left: 0px; */
            width: calc(45% + 40px);
            min-width: 320px;
            background: white;
            border-radius: 0px 0px 20px 20px;
            padding: 20px 0px;
            z-index: 1;

            .city-item {
                cursor: pointer;
                margin: 0;
                padding: 8px 20px;

                &:nth-child(odd) {
                    background: #f5f5f5;
                }
            }
        }

        .header-ul {
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            list-style: none;
            padding: 0;
            margin: 0;

            .header-li {
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;


        .container-content {
            width: 70%;
            min-width: 300px;
            background: rgba(211, 211, 211, 0.5);
            box-shadow: 0px 0px 10px 0px  rgba(0, 0, 0, 1);
            border-radius: 20px;
            padding: 20px;
            min-height: 300px;
            display: flex;
            justify-content: flex-start;
            position: relative;

            .container-left {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 120px;
                    width: 120px;
                    transform: translateY(-20%);
                }
            }

            .container-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                gap: 5px;
                padding-top: 60px;
                .today{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                }
                .main-weather{
                    font-size :18px;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                }
                .city-name {
                    color: white;
                    font-size: 42px;
                    font-weight: 700;
                    margin: 0;
                    text-transform: capitalize;
                    
                    
                }
            }

            .weather-list {
                position: absolute;
                top: 75%;
                left: 5%;
                width: 90%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                gap: 6%;
                list-style: none;
                padding: 0;
                margin: 0;
                text-transform: capitalize;

                .weather-item {
                    width: calc(20.5%);
                    aspect-ratio: 1;
                    /* height: 130px; */
                    border-radius: 35%;
                    color: black;
                    font-size: 18px;
                    font-weight: 500;
                    /* background : rgba(211,211, 211, 1); */
                    text-align: center;
                    padding: 20px;
                    overflow: hidden;
                    position: relative;
                    background-color: rgba(255,255,255,0.8);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0.4;
                    }

                }


            }

        }
    }

}